@property --icon-translate-x {
	syntax: '<length-percentage>';
	initial-value: 0px;
	inherits: false;
}
@property --icon-translate-y {
	syntax: '<length-percentage>';
	initial-value: 0px;
	inherits: false;
}

:root {
	color-scheme: light dark;
}

#error-message {
	color: darkred;
}

/* ======== Header ======== */
header {
	/* Header image grass color */
	background-color: #3a5730;
}
.header-image {
	margin: calc(-1 * var(--header-padding));
	margin-block-start: 0;
	display: flex;
	--header-image-height: 128px;
	--base-header-image-height: 768px;
	height: var(--header-image-height);
	
	.header-image-flex,
	.header-image-fixed {
		background-size: auto var(--header-image-height);
	}
	.header-image-flex {
		flex-grow: 1;
		background-repeat: repeat;
	}
	.header-image-fixed {
		flex-shrink: 0;
		width: calc(var(--header-image-height) / var(--base-header-image-height) * var(--base-header-image-width));
	}
}

/* ======== Filters ======== */
#filters {
	padding-inline: var(--section-padding);
	text-align: center;
	text-wrap: balance;
}
#filters label:has(input[type="radio"]) {
	display: inline-block;
	margin: calc(0.25 * var(--button-margin));
	padding: var(--button-padding);
	border: 1px solid var(--color-button-border);
	border-radius: var(--button-corner-radius);
	
	cursor: pointer;
	
	&:has(input[type="radio"]:checked) {
		background-color: var(--color-button-bg);
		color: var(--color-button);
	}
}
#filters input[type="radio"] {
	display: none;
}

/* ======== Project list ======== */
#projects details {
	margin-block-end: 1rem;
	
	summary {
		display: grid;
		grid-template-columns: 1fr auto;
	}
	
	.project-actions {
		display: flex;
		align-self: start;
		justify-content: end;
		align-items: center;
		gap: 2.5px;
	}
	
	.project-expand-button {
		display: inline-block;
		margin: 0;
		padding: 0;
		border: 0 none;
		background-color: transparent;
		color: inherit;
		cursor: pointer;
		transition: transform var(--ui-transition-duration);
	}
	&:open .project-expand-button {
		transform: rotateZ(180deg);
	}
	
	h3 {
		margin: 0;
	}
	
	a {
		text-decoration: none;
	}
	
	/* Container for the progress bar and status graphic */
	.progress-wrapper {
		grid-column: 1 / -1;
		margin: calc(0.75 * var(--button-margin)) 0 calc(0.25 * var(--button-margin));
		
		/* For positioning status icons */
		position: relative;
	}
	
	progress {
		appearance: none;
		width: 100%;
		height: 15px;
		margin: 0;
		border-radius: var(--button-corner-radius);
		overflow: hidden;
		
		color: var(--color-bcu-blue);
		accent-color: currentColor;
		
		&::-moz-progress-bar {
			background-color: currentColor;
		}
		&::-webkit-progress-value {
			background-color: currentColor;
		}
		
		@media (prefers-color-scheme: dark) {
			color: var(--color-blue);
		}
		&.good {
			color: var(--color-green);
		}
		&.bad {
			color: var(--color-red);
		}
	}
	
	/* Graphic on the progress bar that indicates the rough project phase (early planning, design, construction) */
	.status-graphic {
		position: absolute;
		top: -25px;
		top: -25.5px;
		height: 43px;
		transform-origin: bottom center;
		
		/* Don't block interactions! */
		pointer-events: none;
		
		animation-iteration-count: infinite;
		
		&[src$="pencil.svg"] {
			transform: translateX(-50%) rotateZ(50deg);
			animation-name: pencil-writing;
			animation-duration: 2.2s;
		}
		&[src$="roller.svg"] {
			--icon-translate-x: -7px;
			--icon-translate-y: 0px;
			transform: translateX(var(--icon-translate-x)) translateY(var(--icon-translate-y));
			animation-name: roller;
			animation-duration: 1s;
		}
		@media (prefers-reduced-motion: reduce) {
			&[src] {
				animation-name: none;
			}
		}
	}
	
	.project-status-text {
		display: flex;
		justify-content: space-between;
		padding: calc(0.25 * var(--button-margin));
	}
	
	dl {
		margin-block: 0.5em 1em;
		display: inline-grid;
		grid-template-columns: auto auto;
		align-items: baseline;
	}
	dt {
		font-size: smaller;
		font-weight: bold;
	}
	dd {
		margin-inline-start: 1rem;
	}
}

@keyframes pencil-writing {
	 95% { transform: translateX(-49%) rotateZ( 0deg); }
	100% { transform: translateX(-49%) rotateZ( 5deg); }
	  0% { transform: translateX(-49%) rotateZ( 5deg); }
	  5% { transform: translateX(-49%) rotateZ( 0deg); }
	  
	 20% { transform: translateX(-50%) rotateZ( 15deg); }
	 25% { transform: translateX(-50%) rotateZ( 20deg); }
	 30% { transform: translateX(-50%) rotateZ( 10deg); }
	 
	 45% { transform: translateX(-51%) rotateZ(-8deg); }
	 50% { transform: translateX(-51%) rotateZ(-13deg); }
	 55% { transform: translateX(-51%) rotateZ(-8deg); }
	 
	 
	 70% { transform: translateX(-50%) rotateZ( 10deg); }
	 75% { transform: translateX(-50%) rotateZ(  5deg); }
	 80% { transform: translateX(-50%) rotateZ( 10deg); }
}
@keyframes roller {
	100% { --icon-translate-x: -7px; --icon-translate-y: 0px; }
	  0% { --icon-translate-x: -7px; --icon-translate-y: 0px; }
	 12% {                           --icon-translate-y:-0.5px; }
	 
	 25% {                           --icon-translate-y: 0px; }
	 37% {                           --icon-translate-y:-0.5px; }
	 
	 50% { --icon-translate-x: -9px; --icon-translate-y: 0px; }
	 62% {                           --icon-translate-y:-0.5px; }
	 
	 75% {                           --icon-translate-y: 0px; }
	 87% {                           --icon-translate-y:-0.5px; }
}
