@property --icon-translate-x {
	syntax: '<length-percentage>';
	initial-value: 0px;
	inherits: false;
}
@property --icon-translate-y {
	syntax: '<length-percentage>';
	initial-value: 0px;
	inherits: false;
}

:root {
	color-scheme: light dark;
}

#error-message {
	color: darkred;
}

header {
	/* Header image grass color */
	background-color: #3a5730;
}

.header-image {
	margin: calc(-1 * var(--header-padding));
	margin-block-start: 0;
	display: flex;
	height: 128px;
	
	div {
		flex-grow: 1;
		background-repeat: repeat;
	}
	:nth-child(1) {
		background-image: url('../images/header_street_old.svg');
	}
	:nth-child(2) {
		background-image:
			url('../images/header_street_blueprint_overlay.svg'),
			url('../images/header_street_old.svg');
	}
	:nth-child(3) {
		background-image:
			url('../images/header_street_blueprint_overlay.svg'),
			url('../images/header_street_new.svg');
	}
	:nth-child(4) {
		background-image: url('../images/header_street_new.svg');
	}
}

#projects details {
	
	margin-block-end: 1rem;
	
	summary {
		display: grid;
		grid-template-columns: 1fr auto;
	}
	
	.project-actions {
		display: flex;
		align-self: start;
		justify-content: end;
		align-items: center;
		gap: 2.5px;
	}
	
	.project-expand-button {
		display: inline-block;
		font-size: smaller;
		margin: 0;
		padding: 0;
		border: 0 none;
		background-color: transparent;
		color: inherit;
		cursor: pointer;
		transition: transform var(--ui-transition-duration);
	}
	&:open .project-expand-button {
		transform: rotateZ(180deg);
	}
	
	h3 {
		margin: 0;
	}
	
	a {
		text-decoration: none;
	}
	
	.progress-wrapper {
		grid-column: 1 / -1;
		
		/* For positioning status icons */
		position: relative;
	}
	
	progress {
		width: 100%;
		height: 48px;
		
		accent-color: var(--color-bcu-blue);
		
		@media (prefers-color-scheme: dark) {
			accent-color: var(--color-blue);
		}
		&.good {
			accent-color: var(--color-green);
		}
		&.bad {
			accent-color: var(--color-red);
		}
	}
	
	.status-graphic {
		position: absolute;
		top: -20px;
		height: 48px;
		transform-origin: bottom center;
		
		/* Don't block interactions! */
		pointer-events: none;
		
		animation-iteration-count: infinite;
		
		&[src$="pencil.svg"] {
			animation-name: pencil-writing;
			animation-duration: 2.2s;
		}
		&[src$="roller.svg"] {
			
			transform: translateX(var(--icon-translate-x)) translateY(var(--icon-translate-y));
			animation-name: roller;
			animation-duration: 1s;
		}
	}
	
	.project-status-text {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
		padding-inline: 0.25em;
	}
	
	dl {
		display: inline-grid;
		grid-template-columns: auto auto;
		align-items: baseline;
	}
	dt {
		font-size: smaller;
		font-weight: bold;
	}
	dd {
		margin-inline-start: 1rem;
	}
}

footer {
	font-size: smaller;
	text-align: center;
	margin-block-start: 1rem;
}

@keyframes pencil-writing {
	 95% { transform: translateX(-51%) rotateZ( 0deg); }
	100% { transform: translateX(-51%) rotateZ(-5deg); }
	  0% { transform: translateX(-51%) rotateZ(-5deg); }
	  5% { transform: translateX(-51%) rotateZ( 0deg); }
	  
	 20% { transform: translateX(-50%) rotateZ(-15deg); }
	 25% { transform: translateX(-50%) rotateZ(-20deg); }
	 30% { transform: translateX(-50%) rotateZ(-10deg); }
	 
	 45% { transform: translateX(-49%) rotateZ( 8deg); }
	 50% { transform: translateX(-49%) rotateZ( 13deg); }
	 55% { transform: translateX(-49%) rotateZ( 8deg); }
	 
	 
	 70% { transform: translateX(-50%) rotateZ(-10deg); }
	 75% { transform: translateX(-50%) rotateZ( -5deg); }
	 80% { transform: translateX(-50%) rotateZ(-10deg); }
}
@keyframes roller {
	100% { --icon-translate-x: -6px; --icon-translate-y: 1px; }
	  0% { --icon-translate-x: -6px; --icon-translate-y: 1px; }
	 12% {                           --icon-translate-y: 0px; }
	 
	 25% {                           --icon-translate-y: 1px; }
	 37% {                           --icon-translate-y: 0px; }
	 
	 50% { --icon-translate-x: -8px; --icon-translate-y: 1px; }
	 62% {                           --icon-translate-y: 0px; }
	 
	 75% {                           --icon-translate-y: 1px; }
	 87% {                           --icon-translate-y: 0px; }
}
